*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(53, 53, 92);
}
.container{
    width:90%;
    margin:auto;
}
/* ------------------------------------------------------nav bar */
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

h1{
    color: red;
}
input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.fa-search{
    padding: 0.3rem;
    border-radius: 0.5rem;
}
/* ------------------------------------------------------main content */

.flag {
    width:20px;
    margin-left: 10px;
    vertical-align: middle;
}
.posterImg{
    width: 300px;
    height: 440px;
}
.MoviesContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;

}
.card{
  
    width: 300px;
    height: 440px;
    border: 1px solid white;
    margin: 5px;
    
   
}
.card_front{
   
  display: none;
    
 
}
.card_back{
    
}