*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(53, 53, 92);
}
.container{
    width:90%;
    margin:auto;
}
/* ------------------------------------------------------nav bar */
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

h1{
    color: red;
    margin: 25px;
}
input{
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}
.fa-search{
    padding: 0.3rem;
    border-radius: 0.5rem;
    color:gray;
}
button{
    background-color: transparent;
}
/* ------------------------------------------------------main content */
li{
    list-style: none;
    font-size: 13px;
    line-height: 16px;
}
.flag {
    width:20px;
    margin-left: 10px;
    vertical-align: middle;
}
.posterImg{
    width: 300px;
    height: 440px;
}
.MoviesContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px;

}
.card{
    flex-shrink: 0;
    width: 300px;
    height: 440px;
    margin: 5px;
    perspective: 1000px;
    
   
}
.card_front{
  position: absolute;
  width: 100%;
  height: 100%;

}
.card_back{
    padding: 10px;
    color:white;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: black;
    border: 1px solid white
}
.flipper{
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.card:hover .flipper{
    transform: rotateY(180deg);
    display: block;
}